<p-confirmDialog />
<div class="card  text-sm">
  <form (submit)="onUpdate()" [formGroup]="editGuestForm">
    <p-toast position="top-center" [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'500ms'"
      [hideTransitionOptions]="'500ms'" [showTransformOptions]="'translateX(100%)'" />
    <div class="flex flex-row w-full justify-between border border-gray-300 shadow-sm px-2 py-2 border-top-rounded">
      <p class="text-1xl font-semibold">Edit Guest</p>
      <a (click)="confirm($event)" [tooltipStyleClass]="'text-xs'" class="cursor:pointer ml-auto"
        href="javascript:void(0)" pTooltip="Cancel" tooltipPosition="top">
        <i class="pi pi-times" style="color: red"></i>
      </a>
    </div>
    <p-stepper [value]="1">
      <p-step-item [value]="1">
        <p-step [autocapitalize]="true">
          <p class="uppercase">Personal Details</p>
        </p-step>
        <p-step-panel>
          <ng-template #content let-activateCallback="activateCallback">
            <div>
              <div class="grid">
                <div class="col-12 md:col-6 lg:col-4 sm:col-12 xl:col-4">
                  <p-card>
                    <ng-template pTemplate="title">Personal Details</ng-template>
                    <ng-template pTemplate="content">
                      <div class="grid">
                        <div class="col-12">
                          <label class="form-label" for="firstName">First Name</label>
                          <input pInputText size="small" fluid="true" formControlName="FirstName" id="firstName"
                            placeholder="First Name" type="text" />
                        </div>
                        <div class="col-12">
                          <label class="form-label" for="lastName">Last Name</label>
                          <input pInputText size="small" fluid="true" formControlName="LastName" id="lastName"
                            placeholder="Last Name" type="text" />
                        </div>
                        <div class="col-12">
                          <label class="form-label" for="mobileNo">Mobile No</label>
                          <input pInputText size="small" fluid="true" formControlName="MobileNo" id="mobileNo"
                            placeholder="Mobile No" type="text" />
                        </div>
                        <div class="col-12">
                          <label class="form-label" for="mobileNo">Gender</label>
                          <p-select formControlName="Gender" [options]="gender" optionLabel="name" optionValue="code"
                            placeholder="Select a Gender" class="w-full" />
                        </div>
                        <div class="col-12">
                          <label class="form-label" for="emailId">Email</label>
                          <input pInputText size="small" fluid="true" formControlName="EmailId" id="emailId"
                            placeholder="Email" type="email" />
                        </div>
                      </div>
                    </ng-template>
                  </p-card>
                </div>
                <div class="col-12 md:col-6 lg:col-4 sm:col-12 xl:col-4">
                  <p-card>
                    <ng-template pTemplate="title">Contact Details</ng-template>
                    <ng-template pTemplate="content">
                      <div class="grid">
                        <div class="col-12">
                          <app-address [form]="editGuestForm"></app-address>
                        </div>
                      </div>
                    </ng-template>
                  </p-card>
                </div>
                <div class="col-12 md:col-6 lg:col-4 sm:col-12 xl:col-4">
                  <p-card>
                    <ng-template pTemplate="title"> Guest Company Details</ng-template>
                    <div class="grid">
                      <div class="col-12">
                        <label class="form-label" for="company">Company</label>
                        <input pInputText formControlName="Company" id="company" fluid="true"
                          placeholder=" Company Name" size="small" type="text" />
                      </div>
                      <div class="col-12">
                        <label class="form-label" for="companyGSTIN">GSTIN</label>
                        <input pInputText formControlName="CompanyGSTIN" id="companyGSTIN" placeholder="Company GSTIN"
                          type="text" size="small" fluid="true" />
                      </div>
                      <div class="col-12">
                        <label class="form-label" for="companyAddress">Company Address</label>
                        <input pInputText formControlName="CompanyAddress" id="companyAddress"
                          placeholder="Company Address" type="text" size="small" fluid="true" />
                      </div>
                    </div>
                    <!-- <ng-template pTemplate="footer">
                                              <div class="flex gap-4 mt-1">
                                                <p-button label="Cancel" severity="secondary" class="w-full" [outlined]="true" [size]="'small'"
                                                  styleClass="w-full" />
                                                <p-button label="Save" class="w-full" styleClass="w-full" [size]="'small'" />
                                              </div>
                                            </ng-template> -->
                    <p class="text-xs font-italic  font-semibold">For internal use :
                      {{editGuestForm.controls.GuestId.value}}
                    </p>
                  </p-card>
                </div>
              </div>
            </div>
            <div class="gap-2 flex justify-content-end pb-2">
              <p-button label="Update" class="w-8rem" styleClass="w-8rem" [size]="'small'" [raised]="true"
                (onClick)="onUpdate()" />
              <p-button label="Next" severity="secondary" class="w-8rem" [size]="'small'" [raised]="true"
                (onClick)="activateCallback(2)" styleClass="w-8rem" />
            </div>
          </ng-template>
        </p-step-panel>
      </p-step-item>
      <p-step-item [value]="2">
        <p-step>
          <p class="uppercase">Stay Details</p>
        </p-step>
        <p-step-panel class="p-1">
          <ng-template #content let-activateCallback="activateCallback">
            <div>
              <div class="grid">
                <div class="col-12 md:col-6 lg:col-6 sm:col-12 xl:col-6">
                  <p-card>
                    <ng-template pTemplate="title">Stay Details</ng-template>
                    <ng-template pTemplate="content" class="p-1">
                      <app-stay-guest [form]="editGuestForm" [guestList]="savedGuest"
                        [paymentDetailsForm]="editGuestForm" [isEditForm]="true"></app-stay-guest></ng-template>
                  </p-card>
                </div>
                <div class="col-12 md:col-6 lg:col-6 sm:col-12 xl:col-6">
                  <p-card>
                    <ng-template pTemplate="title">Payment Details</ng-template>
                    <ng-template pTemplate="content">
                      <app-payment-details [form]="editGuestForm"
                        [isEditForm]="true"></app-payment-details></ng-template>
                  </p-card>
                </div>
              </div>
            </div>
            <div class="gap-2 flex justify-content-end pb-4">
              <p-button label="Back" severity="secondary" (onClick)="activateCallback(1)" class="w-8rem"
                styleClass="w-8rem" size="small" [raised]="true" />
              <p-button label="Update" class="w-8rem" styleClass="w-8rem" [size]="'small'" [raised]="true"
                (onClick)="updateBooking()" />
              <p-button label="Invoice" severity="warn" class="w-8rem" styleClass="w-8rem" [size]="'small'"
                [raised]="true" (onClick)="generateInvoice()" />
            </div>

          </ng-template>
        </p-step-panel>
      </p-step-item>
    </p-stepper>
  </form>
</div>