<p-confirmDialog />
<div class="flex flex-grow-1 p-2">
  <form (submit)="onUpdate()" [formGroup]="editGuestForm" class="min-h-full">
    <p-toast position="top-center" [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'500ms'"
      [hideTransitionOptions]="'500ms'" [showTransformOptions]="'translateX(100%)'" />
    <div class="flex flex-row w-full justify-between border border-gray-300 shadow-sm px-2 py-2 border-top-rounded">
      <p class="text-1xl font-semibold">Edit Guest</p>
      <a (click)="confirm($event)" [tooltipStyleClass]="'text-xs'" class="cursor:pointer ml-auto"
        href="javascript:void(0)" pTooltip="Cancel" tooltipPosition="top">
        <i class="pi pi-times" style="color: red"></i>
      </a>
    </div>
    <p-stepper [(activeStep)]="active" [linear]="true" class="card">
      <p-stepperPanel header="Guest Details">
        <ng-template let-index="index" let-nextCallback="nextCallback" pTemplate="content">
          <div class="flex flex-column">
            <div class="border-0   surface-ground flex-auto flex justify-content-center align-items-center font-medium">
              <div class="d-flex flex-row  flex-sm-column flex-xs-column flex-md-row flex-lg-row ">
                <!-- <div> -->
                <div class="card shadow-lg border-0 p-0 flex-1">
                  <div class="card-header bg-[#60a5fa] bg-gradient text-white ps-2">
                    <p class="uppercase text-xs">Personal Details</p>
                  </div>
                  <div class="card-body p-1">
                    <!-- <div class="col-6"> -->
                    <div class="row pb-2 p-2">
                      <div class="col-md-12 pb-2 pe-2 ps-2">
                        <div class="card border-1 p-0">
                          <div class="card-header  d-flex justify-between p-2 py-1 bg-slate-300">
                            <p class="text-blue-500 text-xs"> Guest Company Details</p>
                          </div>
                          <div class="card-body p-1">
                            <div class="row">
                              <div class="col-md-6">
                                <label class="form-label" for="company">Company</label>
                                <input class="form-control form-control-sm" formControlName="Company" id="company"
                                  placeholder="Company Name" type="text" />
                              </div>
                              <div class="col-md-6">
                                <label class="form-label" for="companyGSTIN">GSTIN</label>
                                <input class="form-control form-control-sm" formControlName="CompanyGSTIN"
                                  id="companyGSTIN" placeholder="Company GSTIN" type="text" />
                              </div>
                              <div class="col-md-12">
                                <label class="form-label" for="companyAddress">Company Address</label>
                                <input class="form-control form-control-sm" formControlName="CompanyAddress"
                                  id="companyAddress" placeholder="Company Address" type="text" />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 ">
                        <label class="form-label" for="firstName">First Name</label>
                        <input class="form-control form-control-sm" formControlName="FirstName" id="firstName"
                          placeholder="First Name" type="text" />
                      </div>
                      <div class="col-md-6">
                        <label class="form-label" for="lastName">Last Name</label>
                        <input class="form-control form-control-sm" formControlName="LastName" id="lastName"
                          placeholder="Last Name" type="text" />
                      </div>
                      <div class="col-md-6">
                        <label class="form-label" for="emailId">Email</label>
                        <input class="form-control form-control-sm" formControlName="EmailId" id="emailId"
                          placeholder="Email" type="email" />
                      </div>
                      <div class="col-md-6  d-inline">
                        <label class="form-label" for="Gender">Gender</label>
                        <ng-select appearance="outline" class="text-sm" formControlName="Gender" id="Gender"
                          notFoundText="No items found" placeholder="Gender">
                          <ng-option value="MALE">MALE</ng-option>
                          <ng-option value="FEMALE">FEMALE</ng-option>
                          <ng-option value="TRANSGENDER">TRANSGENDER</ng-option>
                        </ng-select>
                      </div>

                      <div class="d-flex justify-content-between ">
                        <div class="col-md-6 col-sm-12    d-inline ">
                          <label class="form-label" for="mobileNo">Mobile No</label>
                          <input class="form-control form-control-sm" formControlName="MobileNo" id="mobileNo"
                            placeholder="Mobile No" type="text" />
                        </div>
                        <div class="justify-content-between content-end">
                          <button (click)="addGuest()"
                            class="bg-gray-300 hover:bg-gray-400 text-sm text-gray-800 font-semibold  py-2 px-2 rounded inline-flex items-center gap-2"
                            type="button">
                            <i class="pi pi-plus font-semibold text-xs" style="color: var(--primary-color)"></i>
                            <p class="font-sm">Member</p>
                          </button>
                        </div>
                      </div>
                      <div class="flex flex-col py-1">
                        <!-- <p-table [value]="members" styleClass="p-datatable-gridlines text-sm p-datatable-sm"
                        [lazy]="true">
                        <ng-template pTemplate="header">
                          <tr>
                            <th>Name</th>
                            <th>Gender</th>
                            <th>Age</th>
                            <th>Action</th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-member styleClass="text-sm">
                          <tr>
                            <td>{{ member.FirstName }} {{ member.LastName }}</td>
                            <td>{{ member.Gender }}</td>
                            <td>{{ member.Age }}</td>
                            <td></td>
                          </tr>
                        </ng-template>
                      </p-table> -->
                        <form [formGroup]="moreGuestForm" class="pe-0">
                          <div [ngClass]="{'ng-invalid': 'remove-invalid','ng-valid': 'remove-invalid'}"
                            formArrayName="guests">
                            <div *ngFor="let user of guests.controls; let i = index" [formGroupName]="i"
                              class="justify-between mb-2">
                              <app-more-guest (removeUser)="removeUser(i)" [guestForm]="user" [recordNo]=i>
                              </app-more-guest>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- </div> -->
                <div class="card shadow-lg border-0 p-0 ms-2 flex-1">
                  <div class="card-header  bg-[#60a5fa] bg-gradient text-white ps-2">
                    <p class="uppercase text-xs">Contact Details</p>
                  </div>
                  <div class="card-body p-2 pt-0">
                    <app-address [form]="editGuestForm"></app-address>
                    <div class="flex flex-column  py-2">
                      <div class="card">
                        <div class="card-header bg-[#60a5fa] bg-gradient text-white">
                          <p class="text-xs font-semibold uppercase">Invoice Printing Option(s)</p>
                        </div>
                        <div class="card-body bg-blue-100 p-2">
                          <div class="flex flex-row gap-3 text-sm font-semibold">
                            <p class="pb-2 flex-grow-1">
                              <label class="form-label" for="invoiceNo">Invoice No</label>
                              <input class="form-control form-control-sm" formControlName="InvoiceNo" id="invoiceNo"
                                placeholder="Invoice No" type="text" />
                            </p>
                            <p class="gap-2 pt-5">
                              <p-checkbox [binary]="true" class="me-2" formControlName="ManualInvoice" inputId="cd"
                                value="Manual Invoice" variant="filled" />
                              <label for="cd">Manual</label>
                            </p>
                          </div>
                          <div class="flex flex-row gap-3 text-xs font-semibold">
                            <p class="gap-2">
                              <p-checkbox [binary]="true" class="me-2" formControlName="Print_CD" inputId="cd"
                                value="Company Details" variant="filled" />
                              <label for="cd">Company Details</label>
                            </p>
                            <p class="gap-2">
                              <p-checkbox [binary]="true" class="me-2" formControlName="Print_Comments"
                                inputId="comment" value="Comments" variant="filled" />
                              <label for="comment">Comments</label>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex justify-content-end align-items-center text-end pt-2">
            <div class="flex flex-row text-end gap-2 items-end">
              <div>
                <p-button label="Update" size="small" severity="primary" (onClick)="onUpdate()" type="button"
                  class="p-button p-button-primary p-button-sm" />
              </div>
              <div>
                <p-button (onClick)="nextCallback.emit()" iconPos="right" label="Continue" size="small"
                  severity="primary" class="p-button p-button-primary p-button-sm" />
              </div>
            </div>
          </div>
        </ng-template>
      </p-stepperPanel>
      <p-stepperPanel header="Stay & Payment">
        <ng-template let-index="index" let-nextCallback="nextCallback" let-prevCallback="prevCallback"
          pTemplate="content">
          <div class="flex flex-column">
            <div class="border-0 flex flex-row">
              <div class="card border-0 p-0 shadow-lg flex-1">
                <div class="card-header   bg-[#60a5fa] text-white ps-2">
                  <p class="uppercase text-xs">Stay Details</p>
                </div>
                <div class="card-body text-sm font-semibold">
                  <app-stay-guest [editGuest]="true" [form]="editGuestForm" [guestList]="savedGuest" [isEditForm]="true"
                    class="text-xs"></app-stay-guest>
                </div>
              </div>
              <div class="card border-0 p-0 ms-2 shadow-lg flex-1">
                <div class="card-header bg-[#60a5fa] bg-gradient text-white ps-2">
                  <p class="uppercase text-xs">Payment Details</p>
                </div>
                <div class="card-body text-sm font-semibold">
                  <app-payment-details [form]="editGuestForm" class="text-xs"></app-payment-details>

                </div>
              </div>
            </div>
          </div>
          <div class="flex pt-4 flex-row justify-content-end gap-2">
            <p-button (onClick)="prevCallback.emit()" [size]="'small'" label="Back" severity="primary"
              class="btn btn-primary btn-sm" />
            <p-button (onClick)="updateBooking()" [size]="'small'" label="Update" severity="primary"
              class="btn btn-primary btn-sm" />
            <p-button [size]="'small'" severity="primary" iconPos="right" label="Invoice" (onClick)="generateInvoice()"
              class="btn btn-primary btn-sm" />
            <p-button (onClick)="nextCallback.emit()" [size]="'small'" severity="primary" iconPos="right"
              label="Continue" class="btn btn-primary btn-sm" />
          </div>
        </ng-template>
      </p-stepperPanel>
      <p-stepperPanel header="ID Proof">
        <ng-template let-index="index" let-prevCallback="prevCallback" pTemplate="content">
          <div class="flex flex-column">
            <div class="border-0  align-items-center font-medium">
              <div class="card border-0 p-0 ms-2 shadow-lg">
                <div class="card-header bg-[#60a5fa] bg-gradient text-white ps-2">
                  <p class="uppercase text-sm">ID Proof Details</p>
                </div>
                <div class="card-bod ">
                  <app-id-proof [form]="editGuestForm"></app-id-proof>
                </div>
              </div>
            </div>
          </div>
          <div class="flex justify-content-end flex-wrap gap-2 py-2">
            <p-button (onClick)="prevCallback.emit()" icon="pi pi-arrow-left" label="Back" size="small"
              class="btn btn-primary btn-sm" />
            <p-button [loading]="loading" icon="pi pi-save" label="Save" size="small" type="submit"
              class="btn btn-primary btn-sm" />
            <p-button (onClick)="generateInvoice()" [loading]="loading" icon="pi pi-receipt"
              class="btn btn-primary btn-sm" label="Generate" size="small" />
          </div>
        </ng-template>
      </p-stepperPanel>
    </p-stepper>
  </form>
</div>