<div class="flex flex-column  pb-1 h-max">
  <div class="flex p-field w-full pt-4">
    <p-floatLabel class="flex-grow-1 w-full">
      <p-autoComplete formControlName="selectedCity" [field]="'Name'" [inputStyleClass]="'w-full'" [showClear]="true"
        placeholder=" "></p-autoComplete>
      <label for="city">Search Country</label>
    </p-floatLabel>
  </div>
  <div class="flex flex-row py-2 px-1">
    <p class="flex-1 text-sm content-center">
      Total Country : <span class="text-xs py-0.5 px-1"><p-badge
          [value]="countries==null?'0':countries!.length" /></span>
    </p>
    <div class="justify-end flex-grow mr-auto">
      <p-button (click)="addCountry()" label="Add Country" size="small" severity="primary">
      </p-button>
    </div>
  </div>
  @for (c of countries | paginate: {
  itemsPerPage: 5,
  currentPage: p,
  totalItems: countries.length
  }; track $index) {
  <p-card class="p-card  my-2 flex">
    <div class="grid grid-cols-4">
      <div class="md:block sm:hidden xl:block lg:block col-12  md:col-3 flex">
        <div class="profile-image float-md-right py-1 hidden md:block lg:block xl:block">
          <img src="image/room.jpg" alt="">
        </div>
      </div>
      <div class="col-12 md:col-3 flex">
        <div class="flex flex-column">
          <p class="text-blue-500 text-sm">Country Name</p>
          <p class="text-sm text-center font-semibold pt-1.5">{{ c?.Name }}</p>
        </div>
      </div>
      <div class="col-12 md:col-3 flex">
        <div class="flex-column">
          <p class="text-blue-500 text-sm">Country Code</p>
          <p class="text-sm text-center font-semibold  pt-1.5">{{ c?.Code }}</p>
        </div>
      </div>
      <div class="gap-4 py-2 justify-content-end align-content-end   px-4 col-12 md:col-3 mr-auto flex flex-row">
        <p class="text-blue-500 text-sm">
          <a class="d-inline hover:text-orange-400" href="javascript:void(0);">
            @if (c?.Is_Active) {
            <i class="pi pi-flag" style="font-size: 0.8rem;" pTooltip="Active" tooltipPosition="top"
              tooltipStyleClass="text-xs"></i>
            } @else {
            <i class="pi pi-flag-fill text-red-500" style="font-size: 0.8rem" pTooltip="In Active" tooltipPosition="top"
              tooltipStyleClass="text-xs"></i>
            }
          </a>
        </p>
        <p class="text-blue-500 text-sm">
          <a class="d-inline hover:text-orange-400" href="javascript:void(0);" (click)="onCountryEdit(c?.Id!)">
            <i class="pi pi-pencil" style="font-size: 0.8rem" pTooltip="Edit Country" tooltipPosition="top"
              [tooltipStyleClass]="'text-xs'"></i>
          </a>
        </p>
        <p class="text-blue-500 text-sm">
          <a class="d-inline hover:text-slate-400" href="javascript:void(0);">

            <i class="pi pi-trash" style="font-size: 0.8rem; color:red;" pTooltip="Delete" tooltipPosition="top"
              [tooltipStyleClass]="'text-xs'"></i>

          </a>
        </p>
      </div>
    </div>
  </p-card>
  }
  @if (countries == null) {
  <app-no-records-found></app-no-records-found>
  }
  <nav class="flex flex-row">
    <ul class="ml-auto text-xs">
      <pagination-controls (pageChange)="p = $event" class="p-paginator"></pagination-controls>
    </ul>
  </nav>
</div>