<!-- <div class="container-fluid pe-0"> -->
<div class="flex flex-column pb-1 h-max">
  <div class="flex  flex-1 flex-row gap-2 justify-content-start align-items-baseline pt-4">
    <ng-select appearance="outline" class="text-sm w-1/2" name="filterby" [bindLabel]="'text'" [bindValue]="'value'"
      [clearable]="false" notFoundText="No items found" placeholder="Filter by">
    </ng-select>
    <form class="w-full">
      <p-floatLabel class="flex-grow-1 w-full">
        <p-autoComplete [inputStyleClass]="'text-sm'" [showClear]="true" [lazy]="true" [size]="'small'" [fluid]="true"
          fluid formControlName="searchText" optionLabel="SearchResult" variant="filled"></p-autoComplete>
        <label for="city">Search Users</label>
      </p-floatLabel>
    </form>
  </div>
  <div class="flex flex-row py-2 px-1">
    <p class="flex-1 text-sm content-center">
      Total Users : <span class="text-xs py-0.5 px-1">
        <p-badge [value]="users==null?'0':users!.length" />
      </span>
    </p>
    <div class="justify-end flex-grow mr-auto">
      <p-button [routerLink]="['add-user']" label="Add Guest" size="small" severity="primary">
      </p-button>
    </div>
  </div>
  <div class="row pe-0 ps-0" style="height: 98vh;">
    <div class="col-md-8">
      <div class="row">
        @for (item of users | paginate: { itemsPerPage: 5,
        currentPage: p ,totalItems: users.length};
        track $index) {
        <div class="col-xl-12 col-lg-4 col-md-12 pe-0 ps-2">
          <app-list-user [users]="item"></app-list-user>
        </div>
        }
        <nav class="flex flex-row">
          <ul class="ml-auto text-xs">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <!-- </div> -->