<p-confirmDialog />
<form (submit)="onSubmit()" [formGroup]="newGuestForm">
  <p-toast position="top-center" [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'500ms'"
    [hideTransitionOptions]="'500ms'" [showTransformOptions]="'translateX(100%)'" />
  <p-card>
    <ng-template pTemplate="header">
      <div
        class="flex flex-row items-center justify-between p-2 border-b border-gray-200 bg-gray-50 rounded-t-lg shadow-sm">
        <!-- Title -->
        <p class="text-lg font-semibold text-gray-700">Add Guest</p>
        <!-- Close Button -->
        <a (click)="confirm($event)" href="javascript:void(0);"
          class="text-gray-500 hover:text-red-600 ml-auto transition-colors duration-150">
          <i class="pi pi-times text-xl"></i>
        </a>
      </div>
    </ng-template>
    <ng-template pTemplate="body" class="p-1">
      <p-stepper [value]="1" class="text-sm">
        <p-step-item [value]="1">
          <p-step [autocapitalize]="true">
            <p class="uppercase">Personal Details</p>
          </p-step>
          <p-step-panel>
            <ng-template #content let-activateCallback="activateCallback">
              <div>
                <div class="grid text-sm">
                  <div class="col-12 md:col-6 lg:col-4 sm:col-12 xl:col-4 pb-1">
                    <p-card>
                      <ng-template pTemplate="title">Personal Details</ng-template>
                      <ng-template pTemplate="content">
                        <div class="grid">
                          <div class="col-12">
                            <label class="form-label" for="firstName">First Name</label>
                            <input pInputText size="small" fluid="true" formControlName="FirstName" id="firstName"
                              placeholder="First Name" type="text" />
                          </div>
                          <div class="col-12">
                            <label class="form-label" for="lastName">Last Name</label>
                            <input pInputText size="small" fluid="true" formControlName="LastName" id="lastName"
                              placeholder="Last Name" type="text" />
                          </div>
                          <div class="col-12">
                            <label class="form-label" for="mobileNo">Mobile No</label>
                            <input pInputText size="small" fluid="true" formControlName="MobileNo" id="mobileNo"
                              placeholder="Mobile No" type="text" />
                          </div>
                          <div class="col-12">
                            <label class="form-label" for="gender">Gender</label>
                            <p-select formControlName="Gender" [options]="gender" optionLabel="name" optionValue="code"
                              [required]="true" placeholder="Select a Gender" class="w-full" />
                          </div>
                          <div class="col-12">
                            <label class="form-label" for="emailId">Email</label>
                            <input pInputText size="small" fluid="true" formControlName="EmailId" id="emailId"
                              placeholder="Email" type="email" />
                          </div>
                        </div>
                      </ng-template>

                    </p-card>
                  </div>
                  <div class="col-12 md:col-6 lg:col-4 sm:col-12  xl:col-4 pb-1">
                    <p-card>
                      <ng-template pTemplate="title">Contact Details</ng-template>
                      <ng-template pTemplate="content">
                        <div class="grid">
                          <div class="col-12">
                            <app-address [form]="contactDetailsFormGroup"></app-address>
                          </div>
                        </div>
                      </ng-template>
                    </p-card>
                  </div>
                  <div class="col-12 md:col-6 lg:col-4 sm:col-12 xl:col-4 pb-1 gap-2">
                    <p-card>
                      <ng-template pTemplate="title"> Guest Company Details</ng-template>
                      <div class="grid">
                        <div class="col-12">
                          <label class="form-label" for="company">Company</label>
                          <input pInputText formControlName="Company" id="company" fluid="true"
                            placeholder=" Company Name" size="small" type="text" />
                        </div>
                        <div class="col-12">
                          <label class="form-label" for="companyGSTIN">GSTIN</label>
                          <input pInputText formControlName="CompanyGSTIN" id="companyGSTIN" placeholder="Company GSTIN"
                            type="text" size="small" fluid="true" />
                        </div>
                        <div class="col-12">
                          <label class="form-label" for="companyAddress">Company Address</label>
                          <input pInputText formControlName="CompanyAddress" id="companyAddress"
                            placeholder="Company Address" type="text" size="small" fluid="true" />
                        </div>
                        <div class="col-12">
                          <p-card>
                            <ng-template pTemplate="body" class="p-2">
                              <div class="grid">
                                <div class="col-12">
                                  <label class="form-label" for="invoiceNo">Invoice No</label>
                                  <input pInputText formControlName="InvoiceNo" id="invoiceNo" placeholder="Invoice No"
                                    type="text" size="small" fluid="true" />
                                </div>
                                <div class="col-12">
                                  <label class="form-label" for="comments">Comment</label>
                                  <input pInputText formControlName="Comments" id="comments" placeholder="Comments"
                                    type="text" size="small" fluid="true" />
                                </div>
                              </div>
                            </ng-template>
                          </p-card>
                        </div>
                      </div>
                      <p class="text-xs font-italic  font-semibold">For internal use :
                        {{newGuestForm.controls['GuestId'].value}}
                      </p>
                    </p-card>

                  </div>
                </div>
              </div>
              <div class="gap-2 flex justify-content-end pb-1 pt-2">
                <p-button label="Save" class="w-8rem" styleClass="w-8rem" [size]="'small'" [raised]="true"
                  (onClick)="onGuestSave()" [disabled]="isGuestDataSaved" />
                <p-button label="Next" severity="secondary" class="w-8rem" [size]="'small'" [raised]="true"
                  (onClick)="activateCallback(2)" styleClass="w-8rem" />
              </div>
            </ng-template>
          </p-step-panel>
        </p-step-item>
        <p-step-item [value]="2">
          <p-step>
            <p class="uppercase">Stay Details</p>
          </p-step>
          <p-step-panel class="pl-2">
            <ng-template #content let-activateCallback="activateCallback">
              <div>
                <div class="grid">
                  <div class="col-12 md:col-6 lg:col-6 sm:col-12 xl:col-6">
                    <p-card>
                      <ng-template pTemplate="title">Stay Details</ng-template>
                      <ng-template pTemplate="content">
                        <app-stay-guest [form]="stayDetailsFormGroup" [guestList]="savedGuest"
                          [paymentDetailsForm]="paymentDetailsFormGroup"
                          [isEditForm]="false"></app-stay-guest></ng-template>
                    </p-card>
                  </div>
                  <div class="col-12 md:col-6 lg:col-6 sm:col-12 xl:col-6">
                    <p-card>
                      <ng-template pTemplate="title">Payment Details</ng-template>
                      <ng-template pTemplate="content">
                        <app-payment-details [form]="paymentDetailsFormGroup"
                          [isEditForm]="false"></app-payment-details></ng-template>
                    </p-card>
                  </div>
                </div>
              </div>
              <div class="gap-2 flex justify-content-end pb-2">
                <p-button label="Back" severity="secondary" (onClick)="activateCallback(1)" class="w-8rem"
                  styleClass="w-8rem" size="small" [raised]="true" />
                <p-button label="Save" class="w-8rem" styleClass="w-8rem" [size]="'small'" [raised]="true"
                  (onClick)="onSaveBooking($event)" [disabled]="isStayDetailsSaved" />
                <p-button label="Invoice" severity="warn" class="w-8rem" styleClass="w-8rem" [size]="'small'"
                  [raised]="true"
                  (onClick)="onInvoiceClick(newGuestForm.controls['GuestId'].value!, newGuestForm.controls['InvoiceNo'].value!)" />
                <!-- <p-button label="Next" severity="secondary" class="w-8rem" [outlined]="true" [size]="'small'"
                                                    (onClick)="activateCallback(2)" styleClass="w-8rem" /> -->
              </div>

            </ng-template>
          </p-step-panel>
        </p-step-item>
        <!-- <p-step-item [value]="3">
        <p-step>Header III</p-step>
        <p-step-panel>
          <ng-template #content let-activateCallback="activateCallback">
            <div class="flex flex-col h-48">
              <div
                class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium">
                Content III
              </div>
            </div>
            <div class="py-6">
              <p-button label="Back" severity="secondary" (onClick)="activateCallback(2)" />
            </div>
          </ng-template>
        </p-step-panel>
      </p-step-item> -->
      </p-stepper>
    </ng-template>
  </p-card>
</form>