
/* .p-dialog .p-dialog-footer button {
    margin: 0 0.5rem 0 0 !important;
    width: auto !important;
} */

/* .custom-tooltip {
  background-color: #039BE5 !important;
} */

/* div.ng-valid,
div.ng-invalid {
  border: 0px solid white;
} */
.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
} 