<div class="flex flex-column  pb-1">
  <!-- <p-card> -->
  <div class="flex p-field w-full pt-4">
    <p-floatLabel class="flex-grow-1 w-full">
      <p-autoComplete formControlName="selectedCity" [suggestions]="filteredCities"
        (completeMethod)="filterCities($event)" [field]="'Name'" [inputStyleClass]="'w-full'" [showClear]="true"
        (onClear)="onClearCity()" (onSelect)="onCitySelect($event)" placeholder=" "></p-autoComplete>
      <label for="city">Search City</label>
    </p-floatLabel>
  </div>
  <!-- </p-card> -->
  <div class="flex flex-row py-2 px-1">
    <p class="flex-1 text-sm content-center">
      Total City : <span class="text-xs py-0.5 px-1"><p-badge [value]="cities==null?'0':cities!.length" /></span>
    </p>
    <div class="justify-end flex-grow mr-auto">
      <p-button (click)="addCity()" label="Add City" size="small">
      </p-button>

    </div>
  </div>
  <!-- @for (c of cities | paginate: {
  itemsPerPage: 5,
  currentPage: p,
  totalItems: cities.length
  }; track c.Name) {
  <p-card class="p-card  my-2 flex">
    <div class="flex  w-full">
      <div class="md:block sm:hidden xl:block lg:block">
        <div class="profile-image float-md-right py-1 md:block sm:hidden xs:hidden">
          <img src="image/room.jpg" alt="">
        </div>
      </div>
      <div class="flex-1 flex px-8  py-2">
        <div class="flex-column">
          <p class="text-primary text-sm">City Name</p>
          <p class="text-sm text-center pt-1.5">{{ c?.Name }}</p>
        </div>
      </div>
      <div class="flex-1 flex px-8 py-2">
        <div class="flex-column">
          <p class="text-primary text-sm">City Code</p>
          <p class="text-sm text-center  pt-1.5">{{ c?.Code }}</p>
        </div>
      </div>
      <div class="flex flex-row gap-4  py-2 justify-end px-4 mr-auto ">
        <p class="text-primary text-sm">
          <a class="d-inline hover:text-orange-400" href="javascript:void(0);">
            @if (c?.Is_Active) {
            <i class="pi pi-flag" style="font-size: 0.8rem;" pTooltip="Active" tooltipPosition="top"
              tooltipStyleClass="text-xs"></i>
            } @else {
            <i class="pi pi-flag-fill text-red-500" style="font-size: 0.8rem" pTooltip="In Active" tooltipPosition="top"
              tooltipStyleClass="text-xs"></i>
            }
          </a>
        </p>
        <p class="text-primary text-sm">
          <a class="d-inline hover:text-orange-400" href="javascript:void(0);" (click)="onCityEdit(c?.Id!)">
            <i class="pi pi-pencil" style="font-size: 0.8rem" pTooltip="Edit City" tooltipPosition="top"
              [tooltipStyleClass]="'text-xs'"></i>
          </a>
        </p>
        <p class="text-primary text-sm">
          <a class="d-inline hover:text-slate-400" href="javascript:void(0);">
            <i class="pi pi-trash" style="font-size: 0.8rem; color:red;" pTooltip="Delete" tooltipPosition="top"
              [tooltipStyleClass]="'text-xs'"></i>
          </a>
        </p>
      </div>
    </div>
  </p-card>
  }
  @if (cities == null) {
  <app-no-records-found></app-no-records-found>
  }
  <nav class="flex flex-row">
    <ul class="ml-auto text-xs">
      <pagination-controls (pageChange)="p = $event" class="p-paginator"></pagination-controls>
    </ul>
  </nav> -->
  <div class="grid align-start justify-center shadow-2 py-2">
    <div *ngFor="let city of pagedCities" class="col-12 md:col-4 lg:col-3">
      <p-card header="{{ city.Name }}" subheader="{{ city.States?.Name }}">
        <!-- <img [src]="'image/room.jpg'" alt="{{ city.Name }}" class="profile-image" /> -->
        <ng-template pTemplate="footer">
          <div class="grid justify-content-end gap-2">
            <div class="col-auto">
              <p-button icon="pi pi-file-edit" pTooltip="Edit City" tooltipPosition="top"
                (onClick)="onCityEdit(city?.Id!)" [tooltipStyleClass]="'text-xs'" [rounded]=" true"
                [text]="true"></p-button>
            </div>
            <div class="col-auto">
              <ng-container *ngIf="city?.Is_Active; else inactive">
                <p-button icon="pi pi-flag" pTooltip="Active City" tooltipPosition="top" [tooltipStyleClass]="'text-xs'"
                  [rounded]="true" [text]="true"></p-button>
              </ng-container>
              <ng-template #inactive>
                <p-button icon="pi pi-flag-fill" severity="warn" pTooltip="Active City" tooltipPosition="top"
                  [tooltipStyleClass]="'text-xs'" [rounded]="true" [text]="true"></p-button>
              </ng-template>
            </div>
            <div class="col-auto">
              <p-button icon="pi pi-trash" severity="danger" pTooltip="Delete City" tooltipPosition="top"
                [tooltipStyleClass]="'text-xs'" [rounded]="true" [text]="true"></p-button>
            </div>

          </div>

        </ng-template>

      </p-card>

    </div>
  </div>
  @if (cities == null) {
  <app-no-records-found></app-no-records-found>
  }
  <p-paginator [rows]="rowsPerPage" [totalRecords]="cities.length" [pageLinkSize]="3" [styleClass]="'text-xs'"
    (onPageChange)="onPageChange($event)">
  </p-paginator>
</div>