<form class="grid" [formGroup]="form">
  <div class="col-12">
    <label for="address" class="form-label">Address</label>
    <input type="text" pInputText size="small" fluid="true" id="address" formControlName="Address"
      placeholder="Address" />
  </div>
  <div class="col-12">
    <label for="city" class="form-label">City</label>
    <ng-select appearance="outline" placeholder="Select City" class="text-sm" formControlName="CityId" [items]="cities"
      bindLabel="Name" bindValue="Id" (change)="onCityChange($event)" notFoundText="No items found" [clearable]="false">

    </ng-select>
  </div>
  <div class="col-12">
    <label class="form-label" for="addguest_state">State</label>
    <input pInputText size="small" fluid="true" id="addguest_state" type="text" formControlName="StateId" />
  </div>
  <div class="col-12">
    <label class="form-label" for="addguest_country">Country</label>
    <input pInputText size="small" fluid="true" id="addguest_country" type="text" formControlName="CountryId" />
  </div>
  <div class="col-12">
    <label for="pinCode" class="form-label">Pincode</label>
    <input type="text" pInputText size="small" fluid="true" id="pinCode" formControlName="PinCode"
      placeholder="PinCode" />
  </div>
</form>