<form [formGroup]="form">
  <div class="row">
    <div class="col-md-3  pb-2">
      <label for="idType" class="form-label">ID Type</label>
      <ng-select appearance="outline" placeholder="Select ID Type" id="roomNoId" class="custom" formControlName="IdType"
        notFoundText="No items found">
        <ng-option value="Aadhaar Card">Aadhaar Card</ng-option>
        <ng-option value="Voter ID">Voter ID </ng-option>
        <ng-option value="Passport">Passport</ng-option>
        <ng-option value="PAN">PAN</ng-option>
        <ng-option value="Other">Other</ng-option>
      </ng-select>
    </div>
    <div class="col-md-3 pb-2">
      <label for="idNumber" class="form-label">ID Number</label>
      <input type="text" class="form-control form-control-sm" id="idNumber" placeholder="ID Number"
        formControlName="IdNumber" />
    </div>
    <div class="col-md-6">
      <!-- <app-image-upload></app-image-upload> -->
    </div>
    <!-- <div class="col-span-12">
      <p-button [size]="'small'" [label]="'Save'" [icon]="'pi pi-save'" (onClick)="onSubmit()"></p-button>
    </div> -->
  </div>
</form>