<div class="flex flex-column  pb-1 h-max">
  <p-toast position="top-center" [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'500ms'"
    [hideTransitionOptions]="'500ms'" [showTransformOptions]="'translateX(100%)'" />
  <p-card class="w-full">
    <ng-template pTemplate="header" class="custom-card-header">
      <div class="flex flex-row justify-between align-items-center">
        <p class="px-2 text-primary text-sm">
          {{users.FirstName }} {{users.LastName}}
        </p>

        <div class="ml-auto flex flex-row items-center gap-3">
          <!-- Edit button with pencil icon, ensure icon is vertically centered -->
          <div class="flex justify-items-center">
            <p-button icon="pi pi-pencil" [pTooltip]="'Edit guest'" tooltipPosition="top" [severity]="'primary'"
              [size]="'small'" [routerLink]="['edit',users.Id]" [tooltipStyleClass]="'text-xs  flex items-center'"
              [rounded]="true" [text]="true" class="p-button-icon-only p-0"></p-button>
          </div>
          <!-- Delete button -->
          <p-button icon="pi pi-trash" [pTooltip]="'Delete guest'" tooltipPosition="top" [severity]="'primary'"
            [size]="'small'" [tooltipStyleClass]="'text-xs  flex items-center'" [rounded]="true"
            [text]="true"></p-button>
          <!-- Collapse button -->
          <p-button icon="pi pi-minus" [pTooltip]="'Collapse'" tooltipPosition="top" [severity]="'primary'"
            [styleClass]=" 'flex items-center'" [size]="'small'" [tooltipStyleClass]="'text-xs'" [rounded]="true"
            [text]="true"></p-button>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="body">
      <div class="grid gap-2 px-0 py-1">
        <div class="md:block sm:hidden xs:hidden lg:block xl:block">
          <div class="profile-image float-md-right py-1 md:block sm:hidden xs:hidden lg:block xl:block">
            <img src="image/avatar7.png" alt="">
          </div>
        </div>
        <div class="md:col-12 sm:col-12 xl:col-6 xl:col-6">
          <p-card>
            <ng-template pTemplate="header">
              <div class="custom-card-header">
                Contact Details
                <div class="ml-auto flex flex-row items-center gap-3">
                  <a href="#" pTooltip="Edit Address">
                    <i class="pi pi-file-edit" style="color: var(--primary-color);font-size: 0.8rem"></i>
                  </a>
                </div>
              </div>

            </ng-template>
            <ng-template pTemplate="body">
              <div class="grid">
                <div class="col-12 py-1">
                  <p class="text-muted text-sm">{{users.Address}}</p>
                </div>
                <div class="col-12 py-1">
                  <p class="text-muted pb-1  text-xs">{{users.Cities?.Name| uppercase}},
                    {{users.States?.Name
                    | uppercase}},
                    {{users.Countries?.Name | uppercase}}
                  </p>
                </div>
                <div class="col-12 py-1">
                  <div class="grid">
                    <div class="col-6 items-start py-1 sm:col-12 xs:col-12 md:col-6 lg:col-6  xl:col-6">
                      <p class="text-muted text-xs">
                        <!-- <ion-icon name="call"></ion-icon> -->
                        <i class="pi pi-phone" style="color: var(--primary-color)"></i>
                        {{users.MobileNo}}
                      </p>
                    </div>
                    <div class="col-6 items-start py-1 sm:col-12 xs:col-12 md:col-6 lg:col-6  xl:col-6">
                      @if(users.Email!=null || users.Email!=""){
                      <div class="d-inline" *ngIf="users.Email">
                        <p class="job_post text-muted text-sm">
                          <i class="pi pi-inbox" style="color: var(--primary-color)"></i> {{users.Email}}
                        </p>
                      </div>
                      }
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </p-card>
        </div>
      </div>
    </ng-template>
  </p-card>
</div>