<form [formGroup]="newBookingForm" (ngSubmit)="onSubmit()">
  <p-toast position="top-center" [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'500ms'"
    [hideTransitionOptions]="'500ms'" [showTransformOptions]="'translateX(100%)'" />
  <div class="card">
    <div class="card-body p-1 gap-2 flex flex-row">
      <div class="flex flex-1 flex-column w-50 shadow-sm p-2">
        <div class="flex flex-row gap-2">
          <div class="flex-grow-1 text-sm">
            <label class="form-label" for=" guestname">Guest Name</label>
            <input [value]="selectedItem?.value?.SearchResult" pInputText size="small" fluid disabled id="guestname"
              class="text-sm" type="text" />
          </div>
        </div>
        <div class="flex flex-row gap-1">
          <div class="flex-grow-1">
            <label class="form-label" for="guestname">Phone No</label>
            <input pInputText size="small" fluid id="guestname" type="text" formControlName="PhoneNo"
              [value]="guestDetail?.GuestAddresses?.PhoneNo" />
          </div>
          <div class="flex items-end py-2">
            <p-button pTooltip="Change or update phone no" tooltipPosition="top" appendTo="body"
              [tooltipStyleClass]="'no-wrap-tooltip'" [rounded]="true" [text]="true" (onClick)="onPhoneNoEdit()">
              <i [ngClass]="newBookingForm.get('PhoneNo')?.disabled ? 'pi pi-pencil' : 'pi pi-check'"></i>
            </p-button>
          </div>
        </div>
        <div class="flex flex-row gap-2 pt-2">
          <div class="flex-grow-1 text-sm">
            <label class="form-label" for="guestname">Address</label>
            <input pInputText size="small" fluid id="city" type="text" formControlName="Address" [value]="options[0]" />
            <label class="form-label" for="city">City</label>
            <input *ngIf="!showEditableCity" pInputText size="small" fluid id="city" type="text" [disabled]="true"
              [value]="guestDetail?.GuestAddresses?.CityName" />
            <p-autoComplete *ngIf="showEditableCity" [suggestions]="filteredCity" (completeMethod)="filterCity($event)"
              pInputText size="small" fluid [styleClass]="'w-100'" (onSelect)="onCitySelect($event)"
              formControlName="CityId" class="w-100" optionLabel="Name" optionValue="Id" />
          </div>
          <div class="pt-2">
            <p-button pTooltip="Change or update address" tooltipPosition="top" [tooltipStyleClass]="'no-wrap-tooltip'"
              [rounded]="true" [text]="true" (onClick)="onAddressEdit()">
              <i [ngClass]="newBookingForm.get('Address')?.disabled ? 'pi pi-pencil' : 'pi pi-check'"></i>
            </p-button>
          </div>
        </div>
        <div class="flex flex-row gap-1">
          <div class="flex-grow-1 text-sm">
            <label class="form-label" for="state">State</label>
            <input pInputText fluid id="state" type="text" formControlName="State" size="small"
              [value]="newBookingForm.get('State')?.value" />
          </div>
          <div>
            <label class="form-label" for="country">Country</label>
            <input pInputText fluid id="country" type="text" formControlName="Country" size="small"
              [value]="newBookingForm.get('Country')?.value" />
          </div>
        </div>
        <div class="flex flex-column gap-2">
          <label class="form-label" for="guestname">Company Address</label>
          <p-listbox *ngIf="companyAddress.length > 0" [multiple]="false" [options]="companyAddress"
            [listStyleClass]="'text-sm'">
          </p-listbox>
        </div>
      </div>
      <p-divider layout="vertical"></p-divider>
      <div class="flex flex-1  w-50 text-sm">
        <div class="grid py-2   text-sm">
          <div class="col-12 flex flex-column justify-content-between">
            <label class="form-label" for="checkin">Check In</label>
            <p-datepicker formControlName="CheckInDate" appendTo="body" fluid variant="filled" dateFormat="dd/mm/yy"
              [showTime]="true" [hourFormat]="'12'" />
            <small *ngIf="newBookingForm.get('CheckInDate')?.invalid && newBookingForm.get('CheckInDate')?.touched">
              <p class="text-red-600">Check-in date is required.</p>
            </small>
          </div>
          <div class="col-12 flex flex-column justify-content-between">
            <label class="form-label" for="checkout">Check Out</label>
            <p-datepicker formControlName="CheckOutDate" appendTo="body" fluid variant="filled" dateFormat="dd/mm/yy"
              [showTime]="true" [hourFormat]="'12'" />
            <small *ngIf="newBookingForm.get('CheckOutDate')?.invalid && newBookingForm.get('CheckOutDate')?.touched">
              <p class="text-red-600">Check-out date is required.</p>
            </small>
          </div>
          <div class="col-12 md:col-8 flex flex-column justify-content-between">
            <label class="form-label" for="room">Room</label>
            <p-autoComplete [suggestions]="filteredRooms" (onSelect)="onItemSelect($event)"
              [inputStyleClass]="'text-sm'" (completeMethod)="filterRoom($event)" formControlName="RoomId"
              [size]="'small'" optionLabel="RoomNo" fluid="true" />
          </div>
          <div class="col-12 md:col-4 flex flex-column justify-content-between">
            <label class="form-label" for="noofDays">No of Days</label>
            <input id="noofDays" placeholder="No of Days" formControlName="NoOfDays" type="text" size="small" pInputText
              fluid />
          </div>
          <div class="col-12 md:col-4 flex flex-column justify-content-between">
            <label class="form-label" for="totalAmount">Total Amount</label>
            <input pInputText class="w-full" id="totalAmount" placeholder="Total Amount" size="small"
              formControlName="TotalAmount" type="text" />
          </div>
          <div class="col-12 md:col-4 flex flex-column justify-content-between">
            <label class="form-label" for="rent">Rent</label>
            <input pInputText size="small" fluid id="rent" placeholder="Rent" formControlName="Rent" type="text" />
          </div>
          <div class="col-12 md:col-4 flex flex-column justify-content-between">
            <label class="form-label" for="totalAmountGst">Amount Paid</label>
            <input pInputText size="small" fluid id="totalAmountGst" placeholder="Amount Paid" type="text"
              formControlName="AmountPaid" />
          </div>
          <div class="col-12 md:col-6 flex flex-column justify-content-between">
            <label class="form-label" for="totalAmountGst">Balance</label>
            <input pInputText size="small" fluid id="totalAmountGst" placeholder="Balance" type="text"
              formControlName="Balance" />
          </div>
          <div class="col-12 md:col-6 flex flex-column justify-content-between">
            <label class="form-label" for="totalAmountGst">Amount GST (12%)</label>
            <input pInputText class="w-full" id="totalAmountGst" placeholder="Amount with GST" type="text" size="small"
              formControlName="GSTAmount" />
          </div>
          <div class="col-12 md:col-6 flex flex-column justify-content-between">
            <label class="form-label" for="paymentMethod">Payment Method</label>
            <p-autoComplete [suggestions]="filteredPayments" formControlName="PaymentMethod" fluid size="small"
              (completeMethod)="filterPayment($event)" optionLabel="label" />
          </div>
          <div class="col-12 md:col-6 flex flex-column justify-content-between">
            <label class="form-label" for="invoiceNo">Invoice No</label>
            <input pInputText size="small" fluid id="invoiceNo" placeholder="Invoice No" type="text"
              [value]="guestDetail?.InvoiceNo" formControlName="InvoiceNo" />
          </div>

        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="flex flex-row gap-2 justify-content-end">
        <p-button label="Save" (onClick)="onSave()" size="small" />
        <p-button label="Generate Invoice" size="small" />
      </div>
    </div>
  </div>
  <p class="text-xs  font-italic  text-opacity-20 from-gray-400/80 py-1">
    For internal use : {{selectedItem?.value?.Id}}
  </p>
</form>