<form class="grid" [formGroup]="form" #paymentDate>
  <p-toast position="top-center" [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'500ms'"
    [hideTransitionOptions]="'500ms'" [showTransformOptions]="'translateX(100%)'" />
  <div class="col lg:col-6 xl:col-6 md:col-6">
    <label for="gstRate" class="form-label">GST Rate</label>
    <ng-select appearance="outline" placeholder="Select GST Rate" id="gstRate" [formControl]="gstControl"
      (change)="onGstChange($event)" formControlName="GSTPercentage" notFoundText="No items found" [clearable]="false">
      <ng-option [value]="1">0%</ng-option>
      <ng-option [value]="5">5%</ng-option>
      <ng-option [value]="12" selected>12%</ng-option>
      <ng-option [value]="18">18%</ng-option>
      <ng-option [value]="28">28%</ng-option>
    </ng-select>
  </div>
  <div class="co-12 lg:col-6 xl:col-6 md:col-6">
    <label for="excGSTRate" class="form-label">After GST (&#8377;)</label>
    <p-inputnumber inputId="integeronly" mode="currency" currency="INR" currencyDisplay="code" locale="en-IN" size="10"
      fluid="true" id="excGSTRate" formControlName="ExcGST" placeholder="Total Amount" />
  </div>
  <!-- <div class="col-md-6 col-span-6 pb-2">
    <label for="incGSTRate" class="form-label">Inc. of GST (&#8377;)</label>
    <input type="number" class="form-control form-control-sm" id="incGSTRate" formControlName="IncGST"
      placeholder="Total Amount" />
  </div> -->
  <div class="col-12 lg:col-6 xl:col-6 md:col-6">
    <label for="advancePayment" class="form-label">Payment Mode</label>
    <ng-select appearance="outline" placeholder="Payment Mode" id="paymentMode" formControlName="PaymentMode"
      notFoundText="No items found" [clearable]="false">
      <ng-option [value]="1">Cash</ng-option>
      <ng-option [value]="2">Credit Card</ng-option>
      <ng-option [value]="3">Debit Card</ng-option>
      <ng-option [value]="4">Net Banking</ng-option>
      <ng-option [value]="5">UPI</ng-option>
    </ng-select>
  </div>

  <div class="col-12 lg:col-6 xl:col-6 md:col-6">
    <label for="advancePayment" class="form-label">Amount Received</label>
    <p-inputnumber inputId="integeronly" mode="currency" currency="INR" currencyDisplay="symbol" locale="en-IN"
      size="small" fluid="true" id="advancePayment" formControlName="AmountPaid" placeholder="Amount Paid" />
  </div>

  <div class="col-12 lg:col-6 xl:col-6 md:col-6">
    <label for="balancePayment" class="form-label">Balance </label>
    <p-inputnumber inputId="integeronly" mode="currency" currency="INR" currencyDisplay="symbol" locale="en-IN"
      [size]="'small'" fluid="true" id="balancePayment" formControlName="BalanceAmount" placeholder="Balance Payment" />
    <p class="text-xs font-italic text-gray-400 font-semibold text-end">Total-(Advance+Discount)</p>
  </div>
  <div class="col-12 lg:col-6 xl:col-6 md:col-6">
    <label for="transactionNo" class="form-label">Transaction No</label>
    <input type="text" pInputText size="small" fluid="true" id="transactionNo" formControlName="TransactionNo"
      placeholder="Transaction No" />
  </div>
  <div class="col-12 lg:col-6 xl:col-6 md:col-6">
    <label for="paymentDate" class="form-label">Payment Date</label>
    <p-datepicker formControlName="PaymentDate" size="small" [showTime]="true" fluid="true" [dateFormat]="'dd/mm/yy'"
      [showIcon]="true" [showOnFocus]="true" [required]="true" [showOtherMonths]="true" [autofocus]="false"
      [inputStyle]="{'line-height':'12px'}" [placeholder]="'Payment Date'" [hourFormat]="'12'" appendTo="paymentDate"
      [monthNavigator]="true" aria-describedby="checkoutdate-help" />
  </div>
  <div class="col-12 lg:col-6 xl:col-6 md:col-6" *ngIf="payments">
    <label class="form-label text-green-700">Payment History</label>
    <p-table [value]="payments" styleClass="p-datatable-striped" selectionMode="single">
      <!-- <ng-template pTemplate="caption">
        <div class="table-caption">
          <h3>Payment History</h3>
          <p>Total Bookings: {{ payments.length }}</p>
        </div>
      </ng-template> -->
      <ng-template pTemplate="header">
        <tr class="text-sm font-semibold">
          <th class="text-xs font-semibold">#</th>
          <th class="text-xs font-semibold">Date</th>
          <th class="text-xs  font-semibold">Amount</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-payment let-i="rowIndex">
        <tr>
          <td class="text-xs  font-normal">{{ i + 1 }}</td>
          <td class="text-xs  font-normal">{{ payment.PaymentDate }}</td>
          <td class="text-xs  font-normal">{{ payment.Amount | currency:'INR':'symbol':'1.1-1' }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="flex flex-row gap-2 px-2" *ngIf="showGSTDetailInputs">
    <div class="flex-1">
      <label for="CGST" class="form-label">CGST (&#8377;)</label>
      <p-inputnumber inputId="integeronly" mode="currency" currency="INR" currencyDisplay="symbol" locale="en-IN"
        size="small" fluid="true" id="CGST" formControlName="CGST" placeholder="Central Goods and Services Tax" />
    </div>
    <div class="flex-1">
      <label for="SGST" class="form-label">SGST (&#8377;)</label>
      <p-inputnumber inputId="integeronly" mode="currency" currency="INR" currencyDisplay="symbol" locale="en-IN"
        size="small" fluid="true" id="SGST" formControlName="SGST" placeholder="State Goods and Services Tax" />
    </div>
    <div class="flex-1">
      <label for="UTGST" class="form-label">UTGST (&#8377;)</label>
      <p-inputnumber inputId="integeronly" mode="currency" currency="INR" currencyDisplay="symbol" locale="en-IN"
        inputStyleClass="text-sm" size="10" fluid="true" id="UTGST" formControlName="UTGST"
        placeholder="Union Territory Goods and Services Tax " />
    </div>
    <div class="flex-1">
      <label for="IGST" class="form-label">IGST (&#8377;)</label>
      <p-inputnumber inputId="integeronly" mode="currency" currency="INR" currencyDisplay="symbol" locale="en-IN"
        size="small" fluid="true" id="IGST" formControlName="IGST" placeholder="Integrated Goods and Services Tax " />
    </div>
  </div>
  <!-- <p class="text-xs text-gray-400 italic">For internal use: {{this.form.controls["PaymentDetailsId"].value}}</p> -->
</form>