<form class="row" [formGroup]="form">
  <div class="col-md-6 col-6 pb-2">
    <label for="excGSTRate" class="form-label">Exc. of GST (&#8377;)</label>
    <input type="number" class="form-control form-control-sm" id="excGSTRate" formControlName="ExcGST"
      placeholder="Total Amount" />
  </div>
  <div class="col-md-6 col-6 pb-2">
    <label for="incGSTRate" class="form-label">Inc. of GST (&#8377;)</label>
    <input type="number" class="form-control form-control-sm" id="incGSTRate" formControlName="IncGST"
      placeholder="Total Amount" />
  </div>
  <div class="col-md-6 col-6 pb-2">
    <label for="gstRate" class="form-label">GST Rate</label>
    <ng-select appearance="outline" placeholder="Select GST Rate" id="gstRate" class="custom"
      formControlName="GSTPercentage" notFoundText="No items found">
      <ng-option [value]="1">0%</ng-option>
      <ng-option [value]="5">5%</ng-option>
      <ng-option [value]="12" selected>12%</ng-option>
      <ng-option [value]="18">18%</ng-option>
      <ng-option [value]="28">28%</ng-option>
    </ng-select>
  </div>
  <div class="col-md-6 col-6 pb-2">
    <label for="advancePayment" class="form-label">Payment Mode</label>
    <ng-select appearance="outline" placeholder="Payment Mode" id="paymentMode" class="custom"
      formControlName="PaymentMode" notFoundText="No items found">
      <ng-option [value]="1" selected>Cash</ng-option>
      <ng-option [value]="2">Credit Card</ng-option>
      <ng-option [value]="3">Debit Card</ng-option>
      <ng-option [value]="4">Net Banking</ng-option>
      <ng-option [value]="5">UPI</ng-option>
    </ng-select>
  </div>
  <div class="col-md-6 col-6 pb-2">
    <label for="transactionNo" class="form-label">Transaction No</label>
    <input type="text" class="form-control form-control-sm" id="transactionNo" formControlName="TransactionNo"
      placeholder="Transaction No" />
  </div>
  <div class="col-md-6 col-6 pb-2">
    <label for="advancePayment" class="form-label">Payment</label>
    <input type="number" class="form-control form-control-sm" id="advancePayment" formControlName="AmountPaid"
      placeholder="Advance Payment" />
  </div>

  <div class="col-md-6 col-6">
    <label for="balancePayment" class="form-label">Balance</label>
    <input type="number" class="form-control form-control-sm" id="balancePayment" formControlName="BalanceAmount"
      placeholder="Balance Payment" />
  </div>
  <!-- <div class="col-md-6 col-6 align-content-end text-end">
    <p-button [size]="'small'" [label]="'Save'" [icon]="'pi pi-save'" (onClick)="onSubmit()"></p-button>
  </div> -->
</form>