@defer(){
<div class="no-records-container">
    <i [ngClass]="'pi pi-info-circle no-records-icon'"></i>
    <span class="no-records-text">No records found</span>
</div>

}
@placeholder (minimum 500ms) {
<div class="d-flex justify-center">
    <div class="spinner-border  text-warning " role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
}
@loading (after 10ms; minimum 1s) {
<div class="d-flex justify-center">
    <div class="spinner-border  text-info d-flex justify-center" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
}@error {
<p>Failed to load data</p>
}