<div class="flex flex-column pb-1 h-max">
  <div class="flex  flex-1 flex-row gap-2 justify-content-start align-items-baseline pt-4">
    <ng-select [formControl]="searchByControl" appearance="outline" class="text-sm w-1/2" name="filterby"
      [bindLabel]="'text'" [bindValue]="'value'" (change)="onFilterChange($event)" [clearable]="false"
      [items]="searchBy" notFoundText="No items found" placeholder="Filter by">
    </ng-select>
    <form [formGroup]="formGroup" class="w-full">
      <p-floatLabel class="flex-grow-1 w-full">
        <p-autoComplete (completeMethod)="filterGuest($event)" (onSelect)="onItemSelect($event)"
          [inputStyleClass]="'text-sm'" (onClear)="onClear($event)" [showClear]="true" [lazy]="true" [size]="'small'"
          [fluid]="true" [suggestions]="suggestions" fluid formControlName="searchText" optionLabel="SearchResult"
          variant="filled"></p-autoComplete>
        <label for="city">Search Guest</label>
      </p-floatLabel>
    </form>

  </div>
  <div *ngIf="selectedItem" class="card-footer p-2 text-start flex flex-column">
    <div class="flex flex-grow-1 flex-row">
      <p class="text-xs font-italic text-gray-600">Guest <span class="text-primary">{{
          selectedItem?.value?.SearchResult }}</span> already
        exists.You
        can use existing details.
        <a (click)="showViewDetailsDialog($event)" (onShow)="onViewBookingShow($event)"
          class="text-xs font-semibold text-primary-600 px-2" href="#">View Booking History</a>
        <a (click)="showDialog($event)" class="text-xs font-semibold text-primary-600" (onShow)="onBookingShow($event)"
          href="#">Book Now</a>
      </p>
    </div>
  </div>
  <p-dialog [(visible)]="display" [closable]="true" [modal]="true" (onShow)="onBookingShow($event)"
    [style]="{width: '70vw',padding:'4px','z-index':100}" header="New Booking & Payment">
    <app-new-details [selectedItem]="selectedItem" [guestDetail]="guestDetails!" [companyAddress]="companyAddress"
      [allCity]="allCity" [rooms]="rooms" [options]="options">
    </app-new-details>
  </p-dialog>
  <p-dialog [(visible)]="displayViewDetails" [closable]="true" [modal]="true" (onShow)="onViewBookingShow($event)"
    [style]="{width: '70vw',padding:'4px','z-index':100}" header="Previous Bookings">
    <app-view-details [selectedItem]="selectedItem" [guests]="guestBookings"
      (printInvoice)="onPrintInvoiceClick($event)"></app-view-details>
  </p-dialog>
  <div class="flex flex-row py-2 px-1">
    <p class="flex-1 text-sm content-center">
      Total Guest : <span class="text-xs py-0.5 px-1">
        <p-badge [value]="guests==null?'0':guests!.length" />
      </span>
    </p>
    <div class="justify-end flex-grow mr-auto">
      <p-button (click)="onAdd()" [routerLink]="['add-guest']" label="Add Guest" size="small" severity="primary">
      </p-button>
    </div>
  </div>
  <div *ngIf="guests">
    @for (guest of guests! | paginate: {
    itemsPerPage: guestPageSize,
    currentPage: guestPageNumber,
    totalItems: guestTotalRecords
    }; ; track $index) {
    <app-guest-list [guestDetails]="guest" *ngIf="guest!=null"></app-guest-list>
    }
    <app-no-records-found [message]="message" *ngIf="guests?.length==0" class="text-sm"></app-no-records-found>
    <nav class="flex flex-row">
      <ul class="ml-auto text-xs">
        <pagination-controls (pageChange)="handlePageChange($event)" [responsive]="true" [autoHide]="true"
          class="text-sm">
        </pagination-controls>
      </ul>
    </nav>
  </div>
</div>