<form (ngSubmit)="onSubmit()" [formGroup]="stateForm">
  <p-toast position="top-center" [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'500ms'"
    [hideTransitionOptions]="'500ms'" [showTransformOptions]="'translateX(100%)'" />
  <p-card>
    <ng-template pTemplate="header">
      <div class="flex flex-row justify-between p-2 custom-card-header">
        <p class="text-primary-800">Add State</p>
        <a (click)="onClose()" href="javascript:void(0);"
          class="text-sm ml-auto hover:text-red-600  transition-colors duration-150">
          <i class="pi pi-times text-secondary"></i>
        </a>
      </div>
    </ng-template>
    <ng-template pTemplate="body">
      <div class="grid">
        <div class="col-12 lg:col-3 md:col-6 lg:col-3 sm:col-12">
          <label class="form-label" for="stateName">State Name</label>
          <input pInputText formControlName="Name" id="stateName" pInputText placeholder="State Name" type="text"
            size="small" class="w-full" />
        </div>
        <div class="col-12 lg:col-3 md:col-6 lg:col-3 sm:col-12">
          <label class="form-label" for="stateCode">State Code</label>
          <input pInputText formControlName="Code" id="stateCode" placeholder="State Code" size="small" type="text"
            class="w-full" />
        </div>
        <div class="col-12 lg:col-3 md:col-6 lg:col-3 sm:col-12">
          <label class="form-label" for="countryId">Country</label>
          <ng-select appearance="outline" class="custom" formControlName="CountryId" id="countryId"
            notFoundText="No items found" placeholder="Select Country">
            @for (country of countries; track country.Id) {
            <ng-option [value]="country.Id">{{ country.Name }} ({{ country.Code }})</ng-option>
            }
          </ng-select>
        </div>
        <div class="col-12 lg:col-3 md:col-6 lg:col-3 sm:col-12">
          <div class="input-group input-group">
            <div class="input-group-text">
              <input class="form-check-input mt-0" type="checkbox">
            </div>
            <input [value]="activeValue" class="form-control" disabled type="text">
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <div class="flex   flex-row">
        <div class=" ml-auto">
          <p-button [disabled]="!stateForm.valid" type="submit" label="Save" size="small" severity="primary"></p-button>
        </div>
      </div>
    </ng-template>
  </p-card>
</form>