.container-fluid {
    min-height: 100vh; /* Ensure it takes at least the full height */
}
.error {
  color: #f44336; /* Red color for error messages */
  font-weight: 500; /* Medium weight */
}

.forgot-password-container {
  background-color: #ffffff; /* White background for a clean look */
  padding: 10px; /* Ample padding for spacious feel */
  border: 1px solid #e0e0e0; /* Light border */
  border-radius: 10px; /* Rounded corners */
  max-width: 400px;
  margin: 100px auto; /* Centered with margin */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Soft shadow */
  transition: transform 0.3s; /* Transition for hover effect */
}