<div class="forgot-password-container">
    <p-messages class="mb-4"></p-messages>
    <form (ngSubmit)="onSubmit()" [formGroup]="forgotPasswordForm" class="w-100">
        <div class="p-6  rounded-border w-100">
            <div class="text-center mb-8">
                <div class="text-surface-900 dark:text-surface-0 text-3xl font-medium mb-4">Forgot Password</div>
            </div>
            <div class="flex flex-col">
                <div class="flex flex-row gap-2">
                    <div class="grow">
                        <label class="form-label font-semibold" for="guestname">Email</label>
                        <input class="form-control form-control-sm font-semibold" id="guestname" type="text"
                            formControlName="email"
                            [ngClass]="{'p-invalid': forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched}" />
                        <div *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched"
                            class="error">
                            <small>Email is required and should be valid</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-row gap-20 pt-6 text-end content-end justify-around">
                <button pButton pRipple label="Reset" icon="pi pi-check" type="submit"
                    class="btn btn-sm btn-primary w-full"></button>
                <button pButton pRipple label="Back" icon="pi pi-arrow-left" [type]="'button'" (click)="onBack()"
                    class="btn btn-sm btn-primary w-full"></button>
            </div>
        </div>
    </form>
</div>