<form (ngSubmit)="onSubmit()" [formGroup]="cityForm">
  <p-toast position="top-center" [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'500ms'"
    [hideTransitionOptions]="'500ms'" [showTransformOptions]="'translateX(100%)'" />
  <p-card>
    <!-- <ng-template pTemplate="header">
      <div class="flex flex-row justify-between p-2">
        <p>Add City</p>
        <a (click)="onClose()" href="javascript:void(0);" class="text-sm ml-auto">
          <i class="pi pi-times text-primary"></i>
        </a>
      </div>
    </ng-template> -->
    <ng-template pTemplate="header">
      <div
        class="flex flex-row items-center justify-between p-2 border-b border-gray-200 bg-gray-50 rounded-t-lg shadow-sm">
        <!-- Title -->
        <p class="text-lg font-semibold text-gray-700">Add City</p>

        <!-- Close Button -->
        <a (click)="onClose()" href="javascript:void(0);"
          class="text-gray-500 hover:text-red-600 ml-auto transition-colors duration-150">
          <i class="pi pi-times text-xl"></i>
        </a>
      </div>
    </ng-template>
    <ng-template pTemplate="body">
      <div class="grid">
        <div class="col-12 lg:col-3 md:col-6 lg:col-3 sm:col-12">
          <label class="form-label" for="cityName">City Name</label>
          <input pInputText formControlName="Name" id="cityName" placeholder="City Name" size="small" type="text"
            class="w-full" />
        </div>
        <div class="col-12 lg:col-3 md:col-6 lg:col-3 sm:col-12">
          <label class="form-label" for="cityCode">City Code</label>
          <input pInputText formControlName="Code" id="cityCode" placeholder="City Code" type="text" size="small"
            class="w-full" />
        </div>
        <div class="col-12 lg:col-3 md:col-6 lg:col-3 sm:col-12">
          <label class="form-label" for="state">State</label>
          <ng-select (change)="onCityChange($event)" appearance="outline" class="w-full" formControlName="StateId"
            id="state" notFoundText="No items found" placeholder="Select State">
            @for (state of states; track state.Id) {
            <ng-option [value]="state.Id">{{ state.Name }} ({{ state.Code }})</ng-option>
            }
          </ng-select>
        </div>
      </div>
      <div class="flex   flex-row">
        <div class=" ml-auto">
          <p-button label="Save" severity="primary" size="small" type="submit"></p-button>
        </div>
      </div>
    </ng-template>
  </p-card>
</form>