.p-datatable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-family: 'Arial', sans-serif;
}
 .p-datatable-thead > tr > th {
    background-color: #60a5fa;
    color: white !important;
    padding: 2px;
    text-align: left;
    font-weight: bold;
    border-bottom: 2px solid #ccc;
}
.p-datatable .p-datatable-tbody > tr {
    border-bottom: 1px solid #ddd;
}
.p-datatable-tbody > tr:nth-child(odd) {
    background-color: #f9f9f9;
}
.p-datatable .p-datatable-tbody > tr:nth-child(even) {
    background-color: #ffffff;
}
/* Customize table cells */
.p-datatable .p-datatable-tbody > tr > td {
    padding: 4px;
    text-align: left;
    color: #555;
}

/* Hover effect for rows */
.p-datatable-tbody > tr:hover {
    background-color: #f1f1f1;
}

/* Customize buttons in table cells */
.p-datatable .p-button {
    font-size: 12px;
    padding: 4px 8px;
}

/* Customize pagination */
.p-paginator .p-paginator-pages .p-paginator-page {
    color: #007bff;
    border-radius: 4px;
}

.p-paginator .p-paginator-pages .p-paginator-page:hover {
    background-color: #e9ecef;
}

/* Customize selected row */
 .p-datatable .p-datatable-tbody > tr.p-highlight {
    background-color: #d3e5ff;
    color: #333;
}
.p-datatable .p-datatable-thead > tr > th{
    padding: 4px !important;
    background-color: #60a5fa !important;
        color: white !important;
}
.p-datatable .p-datatable-header{
    padding: 0.5rem 0.5rem;
}
.p-dialog .p-dialog-header {
    padding: 0.5rem !important;
}
.p-datatable td {
    white-space: normal !important; /* Allows text to wrap */
    word-wrap: break-word;          /* Breaks words if they are too long */
    word-break: break-all;  
}