<div class="footer">
  <div class="flex justify-between">
    <div class="flex-1">
      <nav class="flex justify-items-center">
        <ul class="m-0 p-0">
          <li>
            <a href="javascript:void(0)">
              Home
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              Company
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              Portfolio
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              Blog
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="flex justify-end pe-0.5">
      <p class="copyright text-xs">Design by
        <a href="javascript:void(0)" class="pe-0.5"> PJ Technologies</a> Book Karlo
      </p>
    </div>
  </div>
</div>