<div class="footer">
  <div class="row">
    <div class="col-md-6">
      <nav class="d-flex">
        <ul class="m-0 p-0 ">
          <li>
            <a href="javascript:void(0)">
              Home
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              Company
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              Portfolio
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              Blog
            </a>
          </li>
        </ul>
      </nav>

    </div>
    <div class="col-md-6">
      <p class="copyright d-flex justify-content-end">Design by
        <a href="javascript:void(0)" class="ps-2 pe-2"> PJ Technologies</a> Book Karlo
      </p>
    </div>
  </div>
</div>