<div class="min-h-screen flex flex-col">
  <header class="bg-gray-800 text-white sticky top-0 z-10">
    <div class="top-navbar fixed-top">
      <div class="navbar navbar-expand-lg p-0">
        <div class="container-fluid d-flex">
          <button class="d-xl-block d-lg-block d-md-mone d-none" id="sidebarCollapse" (click)="toggleSidebar1()"
            type="button">
            <svg class="bi bi-list" fill="currentColor" height="30" viewBox="0 0 16 16" width="30"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
                fill-rule="evenodd" />
            </svg>
          </button>
          <p class="text-white"> Dashboard
            <span class="italic"> ({{ hotelName }})</span>
          </p>
          <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="d-inline-block d-lg-none ml-auto more-button" data-target="#navbarSupportedContent"
            data-toggle="collapse" type="button">
          </button>

          <div class="collapse navbar-collapse d-lg-block d-xl-block d-sm-none d-md-none d-none"
            id="navbarSupportedContent">

          </div>
          <p-toolbar class="custom-toolbar">
            <div class="p-toolbar-group-right">
              <p-menu #menu [model]="profile_items" [styleClass]="'font-semibold'" appendTo="body"
                popup="true"></p-menu>
              <p-avatar (click)="menu.toggle($event)" class="pointer-cursor" label="SA" shape="circle"
                size="normal"></p-avatar>
            </div>
          </p-toolbar>
        </div>
      </div>
    </div>
  </header>
  <!-- Main Wrapper -->
  <div class="flex flex-grow overflow-hidden">
    <aside class=" text-white transition-all duration-300 h-full"
      [ngClass]="isCompressed ? 'compressed-sidebar' : 'expanded-sidebar'">
      <div class="sidebar-header" style="width: 200px;">
        <h3 class="flex flex-row items-center">
          <img class="img-fluid" src="/image/bookkaro-logo.ico" />
          <span class="img-fluid text-sm text-center">Book Karlo</span>
        </h3>
      </div>
      <nav class="pt-2">
        <p-panelMenu [model]="items" [multiple]="false">
          <ng-template let-item pTemplate="item">
            <ng-container *ngIf="item.route; else urlRef">
              <a [routerLinkActive]="'true'" class="flex align-items-center
                      cursor-pointer text-color px-3 py-2" pRipple routerLink="{item.route}">
                <i [class]="item.icon + ' text-primary opacity-10'"></i>
                <span [class]="item.icon"></span>
                <span class="ml-2 text-color">{{ item.Label }}</span>
              </a>
            </ng-container>
            <ng-template #urlRef>
              <a *ngIf="item.url; else noLink" [routerLink]="item.url" class="flex align-items-center
                      cursor-pointer text-color px-3 py-2">
                <i [class]="item.icon + ' text-primary'"></i>
                <!-- <span [class]="item.icon"></span> -->
                <span class="ml-2 cursor-pointer">{{ item.label }} </span>
              </a>
              <ng-template #noLink>
                <span class="flex align-items-center cursor-pointer text-color px-3 py-2">
                  <!-- <span [class]="item.icon"></span> -->
                  <i [class]="item.icon + ' text-primary'"></i>
                  <span class="ml-2 font-semibold">{{ item.label }}</span>
                  <i *ngIf="item.items" class="pi pi-angle-down text-primary ml-auto"></i>
                </span>
              </ng-template>
            </ng-template>
          </ng-template>
        </p-panelMenu>
      </nav>
    </aside>

    <!-- Main Content -->
    <main class="flex-grow overflow-x-hidden overflow-y-auto  pt-2 px-2 py-2">

      <!-- Angular Router Outlet -->
      <router-outlet></router-outlet>
    </main>
  </div>

  <!-- Sticky Footer -->
  <footer class="bg-blue-200">
    <app-footer></app-footer>
  </footer>
</div>