<div class="flex flex-column  pb-1 h-max">
  <!-- <p-card> -->
  <div class="flex p-field w-full pt-4">
    <p-floatLabel class="flex-grow-1 w-full">
      <p-autoComplete formControlName="selectedCity" [inputStyleClass]="'w-full'" [showClear]="true"
        placeholder=" "></p-autoComplete>
      <label for="city">Search room</label>
    </p-floatLabel>
  </div>
  <!-- </p-card> -->
  <div class="flex flex-row py-2 px-1">
    <p class="flex text-sm content-center">
      Total Rooms : <span class="text-xs py-0.5 px-2"><p-badge [value]="rooms==null?'0':rooms!.length" /></span>
    </p>
    <p class=" text-sm  content-center px-4">
      Booked : <span class="text-xs py-0.5 px-2"> <p-badge [value]="bookedRooms" /></span>
    </p>
    <p class="flex-1 text-sm content-center px-4">
      Available : <span class="text-xs py-0.5 px-2"><p-badge [value]="availableRooms" /> </span>
    </p>
    <div class="justify-end flex-grow mr-auto flex gap-2">
      <p-button severity="secondary" (click)="changeRoomAvailability()" label="Change Availablity" size="small">
      </p-button>
      <p-button (click)="addRoom()" label="Add Room" size="small"> </p-button>
    </div>
  </div>

  <div *ngIf="rooms && rooms.length > 0">
    @for (r of rooms | paginate: { itemsPerPage: 5,
    currentPage: p ,totalItems: rooms.length}; track $index) {
    <p-card class="p-card  my-2 flex">
      <div class="flex  w-full">
        <div class="md:block sm:hidden xl:block lg:block pr-4">
          <div class="profile-image float-md-right py-1 md:block sm:hidden xs:hidden">
            <img src="image/room.jpg" alt="">
          </div>
        </div>
        <div class="flex-1 flex py-2">
          <div class="flex-column w-full text-center">
            <p class="text-sm">Room No</p>
            <p class="text-xs text-center   pt-1.5">{{r?.RoomNo}}</p>
          </div>
        </div>
        <div class="flex-1 flex   py-2">
          <div class="flex-column w-full text-center">
            <p class="ftext-sm">Room Type</p>
            <p class=" text-xs  pt-1.5">{{r?.Type}}</p>
          </div>
        </div>
        <div class="flex-1 flex  py-2">
          <div class="flex-column w-full text-center">
            <p class="text-sm">Floor No</p>
            <p class=" text-xs text-center  pt-1.5">{{r?.FloorNo}}</p>
          </div>
        </div>
        <div class="flex-1 flex  py-2">
          <div class="flex-column  w-full text-center">
            <p class="text-sm">Capacity</p>
            <p class=" text-xs text-center   pt-1.5">{{r?.Capacity}}</p>
          </div>
        </div>
        <div class="flex-1 flex  py-2">
          <div class="flex-column w-full">
            <p class="font-semibold text-sm text-center">Booking</p>
            <p class="text-gray-500 text-xs text-center italic pt-1.5" *ngIf="!r?.AvailablityStatus?.IsAvailable">
              {{r?.AvailablityStatus?.FromDate}}</p>
            <p class=" text-xs text-center italic pt-1" *ngIf="!r?.AvailablityStatus?.IsAvailable">
              {{r?.AvailablityStatus?.ToDate}}</p>
          </div>
        </div>
        <div class="flex-1 flex py-2">
          <div class="flex flex-row gap-4 ml-auto">
            <p class="text-primary text-sm">
              <a class="d-inline hover:text-orange-400" href="javascript:void(0);">
                @if(r?.AvailablityStatus?.IsAvailable){
                <i class="pi pi-flag" style="font-size: 0.8rem;" pTooltip="Available" tooltipPosition="top"
                  tooltipStyleClass="text-xs"></i>
                }
                @else{
                <i class="pi pi-flag-fill text-red-500" style="font-size: 0.8rem" pTooltip="Not Available"
                  tooltipPosition="top" tooltipStyleClass="text-xs"></i>
                }
              </a>
            </p>
            <p class="text-primary text-sm">
              <a class="d-inline hover:text-orange-400" href="javascript:void(0);" (click)="onRoomEdit(r?.Id!)">
                <i class="pi pi-pencil" style="font-size: 0.8rem" pTooltip="Edit Room" tooltipPosition="top"
                  [tooltipStyleClass]="'text-xs'"></i>
              </a>
            </p>
            <p class="text-primary  text-sm">
              <a class="d-inline hover:text-slate-400" href="javascript:void(0);">
                <i class="pi pi-trash" style="font-size: 0.8rem; color:red;" pTooltip="Delete Room"
                  tooltipPosition="top" [tooltipStyleClass]="'text-xs'"></i>
              </a>
            </p>
          </div>
        </div>
      </div>
    </p-card>
    }

  </div>
  @if(rooms==null) {
  <app-no-records-found class="text-sm"></app-no-records-found>
  }
  <nav class="flex flex-row">
    <ul class="ml-auto text-xs">
      <pagination-controls (pageChange)="p = $event" class="p-paginator"></pagination-controls>
    </ul>
  </nav>
</div>
<div class="card">
  <p-dialog [(visible)]="display" appendTo="body" [closable]="true" [modal]="true"
    [style]="{width: '60vw',height: '70vh'}" showHeader="true">
    <ng-template pTemplate="header">
      <div class="flex flex-column">
        <h1 class="text-3xl">Room Availability Management</h1>
        <p class="text-sm">Overview of room availability and management options</p>
      </div>
    </ng-template>
    <ng-template pTemplate="body">
      <app-change-room-availability [rooms]="rooms"
        (updatedRooms)="onAvailabilityUpdate($event)"></app-change-room-availability>
    </ng-template>
    <ng-template pTemplate="footer">
      <p-button label="Close" [text]="true" severity="secondary" (click)="display = false" size="small"></p-button>
    </ng-template>
  </p-dialog>
</div>