 ::ng-deep .p-panelmenu-content {
    max-height: 300px; /* Set the maximum height */
    overflow-y: auto;  /* Enable vertical scrolling */
}
::ng-deep .p-panelmenu-content {
    max-height: 300px; /* Set the maximum height */
    overflow-y: auto;  /* Enable vertical scrolling */
}