  
.invest-data {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.g-2:not(.row) {
    margin: -.375rem;
}
.invest-data-amount {
    display: flex;
    flex-shrink: 0;
    flex-grow: 1;
}
.invest-data-ck {
    flex-grow: 1;
    height: 48px;
    width: 80px;
    margin-bottom: .125rem;
}
.card-amount .amount {
    font-size: 1.5rem;
    color: #364a63;
}
.invest-data-history {
    margin-right: 20px;
    flex-grow: 1;
}
.g-2:not(.row)>div, .g-2:not(.row)>li {
    padding: .375rem;
}
.invest-data-history .title {
    font-size: 11px;
    color: #8094ae;
    text-transform: uppercase;
    margin-bottom: .125rem;
    letter-spacing: .1em;
}
.invest-data-history .amount {
    font-size: .9375rem;
    line-height: 1.1;
    color: #364a63;
}