<div class="p-2 gap-2">
  <div class="card">
    <p-panel [toggleable]="true" header="Overview">
      <div class="grid gap-4 grid-cols-4 grid-rows-1 pt-2">
        <div class="rounded   shadow-lg px-2 py-2 shadow-blue-500/50">
          <p class="text-[#858D9D] leading-7 font-bold text-sm">Today's</p>
          <div class="d-flex justify-between">
            <p class="text-[#5D6679]  text-sm font-bold">Check-In</p>
            <span class="text-[#1366D9] font-semibold text-2xl">{{ todaysCheckIn }}</span>
          </div>
        </div>
        <div class="rounded   shadow-lg px-2 py-2 shadow-blue-500/50">
          <p class="text-[#858D9D] leading-7 font-bold text-sm">Today's</p>
          <div class="d-flex justify-between">
            <p class="text-[#5D6679]  text-sm font-bold">Check-Out</p>
            <span class="text-[#1366D9] font-semibold text-2xl">{{ todaysCheckOut }}</span>
          </div>
        </div>
        <div class="rounded   shadow-lg px-2 py-2 shadow-blue-500/50">
          <p class="text-[#858D9D] leading-7 font-bold text-sm">Total</p>
          <div class="d-flex justify-between">
            <p class="text-[#5D6679]  text-sm font-bold">Available room</p>
            <span class="text-[#1366D9] font-semibold text-2xl">{{ availableRooms }}</span>
          </div>
        </div>
        <div class="rounded   shadow-lg px-2 py-2 shadow-blue-500/50">
          <p class="text-[#858D9D]  leading-7 font-bold text-sm">Total</p>
          <div class="d-flex justify-between">
            <p class="text-[#5D6679]  text-sm font-bold">Occupied room</p>
            <span class="text-[#1366D9] font-semibold text-2xl">{{ occupiedRooms }}</span>
          </div>
        </div>
      </div>
    </p-panel>
    <div class="flex flex-row pb-2 pt-0 justify-end pe-2">
      <!-- <app-info-display title="Info Title 1" content="This is the first piece of information."></app-info-display> -->
      <span class="flex flex-row  font-italic font-normal font-italic text-gray-500 opacity-8 py-1">
        <p class="pe-1 fst-italic text-xs align-content-center">
          Total Bookings:
          <span class="text-[#1366D9]">({{ totalBookings }})</span>
        </p>
      </span>
      <span class="flex flex-row  font-italic font-normal font-italic text-gray-500 opacity-8 py-1">
        <p class="pe-1 fst-italic text-xs align-content-center">
          weekly :
          <span class="text-[#1366D9]">({{ weeklyBookings }})</span>
        </p>
      </span>
      <span class="flex flex-row  font-italic font-normal font-italic text-gray-500 opacity-8 py-1">
        <p class="pe-1 fst-italic text-xs align-content-center">Monthly : <span class="text-[#1366D9]">({{
            monthlyBookings
            }})</span></p>
      </span>
    </div>
  </div>
  <div class="flex flex-row pt-2">
    <div class="flex flex-grow-1">
      <div class="card shadow-lg flex flex-grow-1">
        <div class="card-header card-header-text bg-bluegray-100 flex flex-row justify-between">
          <h5 class="card-title text-bold text-sm">Booking Details</h5>
          <p class="text-xs font-italiccpt-1">Guest(s) on {{ currentDate | date:'fullDate' }}</p>
        </div>
        <div class="card-body table-responsive p-1">

          <p-table [value]="guestDetails" [paginator]="true" [rows]="5" [autoLayout]="true"
            [alwaysShowPaginator]="false">
            <ng-template pTemplate="header">
              <tr>
                <th class="font-semibold text-sm">#</th>
                <th class="font-semibold text-sm">Name</th>
                <th class="font-semibold text-sm">Check-In</th>
                <th class="font-semibold text-sm">Check-Out</th>
                <th class="font-semibold text-sm">Email</th>
                <th class="font-semibold text-sm">Status</th>
                <th class="font-semibold text-sm" style="text-align: center;">Action</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="7" class="text-center text-red-600 font-semibold">{{noRecordsMessage}}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
              <tr *ngIf="guestDetails.length > 0" class="text-xs">
                <td class="text-xs">{{ rowIndex + 1}}</td>
                <td class="text-xs">{{ rowData.FullName }}</td>
                <td class="text-xs">
                  <p class="text-xs">
                    {{ rowData.CheckInDate }}
                  </p>
                  <p class="text-xs font-italic">
                    {{ rowData.CheckInTime }}
                  </p>
                </td>
                <td class="text-xs">
                  <span class="flex flex-column">
                    <p class="text-xs">{{ rowData.CheckOutDate }}</p>
                    <p class="text-xs font-italic">{{ rowData.CheckOutTime }}</p>
                  </span>
                </td>
                <td class="text-xs">{{ rowData.Email }}</td>
                <td></td>
                <td class="text-xs">
                  <!-- [routerLink]="['/admin/guest/edit',rowData?.Id]" [outlined]="true" />-->
                  <button pButton type="button" icon="pi pi-eye" [pTooltip]="'View'" tooltipPosition="top"
                    class="small-button"></button>
                  <button pButton type="button" icon="pi pi-pencil" [pTooltip]="'Delete'" tooltipPosition="top"
                    class="small-button"></button>
                </td>
              </tr>
            </ng-template>
          </p-table>
          <!-- <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end text-sm">
                      <pagination-controls (pageChange)="handlePageChange($event)" [responsive]="true">
                      </pagination-controls>
                    </ul>
                  </nav> -->
        </div>

      </div>
    </div>
    <div class="flex flex-column text-sm gap-2 ps-1">
      <!-- <p-card [ngClass]="'text-sm text-zinc-900 white-card'" class="white-card">
        <h2 class=" text-zinc-900 px-1">Room Type Occupancy</h2>
        <p-chart type="bar" [data]="availableRoomsChartData" style="max-width: 200px;"></p-chart>
      </p-card> -->
      <p-card>
        <h1 class=" text-zinc-900 px-1 text-lg font-semibold">Room Type Occupancy</h1>
        <p-chart type="doughnut" [data]="roomOccupancyData" [options]="options1" [width]="'180px'"
          style="max-width: 80px;"></p-chart>
      </p-card>
    </div>
  </div>
</div>