<form class="grid" [formGroup]="form">

  <p-toast position="top-center" [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'500ms'"
    [hideTransitionOptions]="'500ms'" [showTransformOptions]="'translateX(100%)'" />
  <div class="col-12 lg:col-6 xl:col-6" #editCheckin>
    <!-- (dateTimeChange)="selectedChanged($event)"   [min]="min"-->
    <label for="checkInDate" class="form-label">Check In Date</label>
    <p-datepicker size="small" formControlName="CheckInDate" [showTime]="true" fluid="true" [dateFormat]="'dd/mm/yy'"
      [showIcon]="true" appendTo="editCheckin" [showOnFocus]="true" [required]="true" [showOtherMonths]="true"
      (onSelect)="onCheckInDateSelect($event)" [inputStyle]="{'line-height':'12px'}" [placeholder]="'Check In Date'"
      [inputStyleClass]="getCheckinDateInputStyleClass()" [hourFormat]="'12'" [monthNavigator]="true"
      [autofocus]="false" aria-describedby="checkoutdate-help" />

  </div>
  <div class="col-12 lg:col-6  xl:col-6" #editCheckout>
    <label for="checkOutDate" class="form-label">Check Out Date</label>
    <p-datepicker formControlName="CheckOutDate" size="small" [showTime]="true" fluid="true" [dateFormat]="'dd/mm/yy'"
      [showIcon]="true" [showOnFocus]="true" [required]="true" [showOtherMonths]="true" [autofocus]="false"
      (onSelect)="onCheckOutDateSelect($event)" [inputStyle]="{'line-height':'12px'}" [placeholder]="'Check Out Date'"
      [inputStyleClass]="getCheckoutDateInputStyleClass()" [hourFormat]="'12'" appendTo="editCheckout"
      [monthNavigator]="true" aria-describedby="checkoutdate-help" />
  </div>
  <div class="col-12">
    <label for="roomNoId" class="form-label">Room No / Floor / Type </label>
    <ng-select [multiple]="true" [searchable]="true" appearance="outline" placeholder="Select Room No" id="roomNoId"
      [items]="rooms" (remove)="onRoomRemove($event)" [clearable]="false" class="custom" formControlName="RoomId"
      bindLabel="RoomNo" bindValue="Id" (change)="onRoomChange($event)" notFoundText="No items found">
    </ng-select>

    <p class="text-xs font-italic font-semibold justify-start">Only available room(s) will come.</p>
    <div class="pt-2">
      <p-table [value]="selectedRooms" *ngIf="selectedRooms.length>0">
        <ng-template pTemplate="header" class="text-xs">
          <tr>
            <th class="text-xs">No</th>
            <th class="text-xs">Floor</th>
            <th class="text-xs">Rent</th>
            <th class="text-xs">Days</th>
            <th class="text-xs">Amount</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-room>
          <tr>
            <td>{{ room.RoomNo }}</td>
            <td>{{ room.Floor }}</td>
            <td>&#8377;{{ room.Rent }}</td>
            <td>{{ room.TotalDays }}</td>
            <td>&#8377;{{ room.TotalAmount }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <div class="col-12 lg:col-4 xl:col-4">
    <label for="ratePerNight" class="form-label">Rate (&#8377;)</label>
    <p-inputnumber inputId="integeronly" mode="currency" currency="INR" currencyDisplay="symbol" locale="en-IN"
      size="small" fluid="true" id="ratePerNight" formControlName="RatePerNight" placeholder="Rate Per Night" />
  </div>
  <div class="col-12 lg:col-4 xl:col-4">
    <label for="totalAmount" class="form-label">Total (&#8377;)</label>
    <p-inputnumber inputId="integeronly" mode="currency" currency="INR" currencyDisplay="symbol" locale="en-IN"
      size="small" fluid="true" id="totalAmount" formControlName="TotalAmount" placeholder="Total Amount" />
  </div>
  <div class="col-12 lg:col-4 xl:col-4">
    <label for="noOfDays" class="form-label">Days</label>
    <p-inputnumber mode="decimal" [useGrouping]="false" size="small" fluid="true" id="noOfDays"
      formControlName="NoOfDays" placeholder="No Of Days" />
  </div>
  <div class="col-12 lg:col-3 xl:col-3">
    <label for="discount" class="form-label">Discount (&#8377;)</label>
    <p-inputnumber inputId="integeronly" mode="currency" currency="INR" currencyDisplay="symbol" locale="en-IN"
      size="small" fluid="true" id="discount" formControlName="Discount" placeholder="Discount" />
  </div>
  <div class="col-12 lg:col-3 xl:col-3">
    <label for="noOfAdults" class="form-label"># Adults</label>
    <p-inputnumber inputId="integeronly" [useGrouping]="false" size="small" fluid="true" id="noOfAdults"
      formControlName="NoOfAdults" placeholder="No Of Adults" />
  </div>
  <div class="col-12 lg:col-3 xl:col-3">
    <label for="noOfChildren" class="form-label"># Children</label>
    <p-inputnumber inputId="integeronly" [useGrouping]="false" size="small" fluid="true" id="noOfChildren"
      formControlName="NoOfChildren" placeholder="No Of Children" />
  </div>

  <div class="col-12 lg:col-3 xl:col-3">
    <label for="noOfGuests" class="form-label"># Guests</label>
    <p-inputnumber inputId="integeronly" [useGrouping]="false" size="small" fluid="true" id="noOfGuests"
      formControlName="NoOfGuests" placeholder="Total No Of Guest" />
  </div>
  <!-- <p class="text-xs text-gray-400 italic">For internal use: {{this.form?.controls["GuestStayDetailId"]?.value}}</p> -->
</form>